@model ZeroH.DTOs.CollectRequestDTO
@{
    ViewBag.Title = "CollectRequest";
}

<style>
    /* Add your custom CSS styles here */
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
    }

        .table th,
        .table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #f2f2f2;
        }

        .table th {
            background-color: #f8f9fa;
            color: #333;
            font-weight: bold;
            text-transform: capitalize; /* Capitalize the column headers */
        }

        .table tr:hover {
            background-color: #f4f4f4;
        }

        .table td:first-child {
            font-weight: bold;
        }

    /* Add more styles as needed */
</style>

<table class="table">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Restaurant Adress</th>
            <th>Food Name</th>
            <th>Food Quantity</th>
            <th>Delivery Location</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Foods)
        {
            <tr>
                <td>@item.Restaurant.Name</td>
                <td>@item.Restaurant.Address</td>
                <td>@item.FoodName</td>
                <td>@item.Quantity</td>

                <td>
                    <form method="post" action="">
                        <input type="hidden" name="Food_ID" value="@item.FoodItem_ID">
                        <input type="hidden" name="Restaurant_ID" value="@item.Restaurant.Restaurant_ID">
                        <input type="hidden" name="FoodItem.Status" value="OnDelivery">
                        <input type="text" name="Location" value="">
                  <select name="Assignee_ID" class="form-select">
                    @foreach (var emp in ViewBag.Employees)
                    {
                        <option value="@emp.Employee_ID">@emp.Name</option>
                    }
                </select>
                <button type="submit" class="btn btn-success">Assign Employee</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>


